@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #0d1b2a;
  display: flex;
  justify-content: center;
}


.taskUI-background {
  margin-top: 2.5rem;
  height: 270px;
  width: 500px;
  background-color: #1b263b;
}

.project-name {
  font-family: Bebas Neue, sans-serif;
  font-size: 2.5rem;
  color: #e0e1ed;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.input-boxes {
  display: flex;
  justify-content: center;
}

.task {
  width: 200px;
  margin-right: 10px;
}